@import "./library/function.scss";

* {
    font-family: "Roboto" , sans-serif;
}

body {
    @include full-size;
    margin: 0%;
}

header {
    @include full-size;
}

main {
    @include full-size;
}

i {
    font-family: FontAwesome;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.loading {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $light-grey;
    $colors: $third-color, $third-color , $secondary-color, $primary-color, $primary-color;
    z-index: 5;
    animation: cacher 4.5s ease forwards ;
    pointer-events: none;

    & .loading-title {
        position: absolute;
        margin-top: -250px;
        & p {
        font-family: 'Shrikhand';
        font-size: 150px;
        }
    }
    
        & .dot {
            position: relative;
            width: 2em;
            height: 2em;
            margin: 0.8em;
            border-radius: 50%;
  
        &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        animation: wave 1.5s ease 3;
        }
  
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                background: nth($colors, $i);
    
                &::before {
                    animation-delay: $i * 0.2s;
                }
            }
        }
    }
}
  
@keyframes wave {
    50%,
    75% {
      transform: scale(2.5);
    }
  
    80%,
    100% {
      opacity: 0;
    }
}

@keyframes cacher {
    0% {
        opacity: 1;
    }

    99%{
        opacity : 1;
    }
    100% {
        opacity : 0;
    }
}


nav {
    @include full-size;
    display: flex;
    flex-direction: column;
    background-color: $light-grey;

    & img {
        height: 110px;
        width: 60%;
        margin-left: 15%;
        margin-top: 0;
        padding: 5%;
    }

    & .desktop-input {
        display: none;
    }

    & .mobil-input {
        display: block;
        text-align: center;
        & i {
            position: absolute;
            font-size: 50px;
            margin: 22px 0% 0% -26%;
        }

        & input { 
            display: flex;
            @include all-center;
            width: 100%;
            height: 100px;
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            color: black;
            background-color: lightgrey;
            border-color: lightgrey;
        }
    }
}    

.explore {
    position: relative;
    @include column;
    @include all-center;
    @include full-size;
    padding: 50px 0 50px 0;
    margin : 0px 0 0 0%;
    background-color: $light-grey;

    & h1 {
        width: 100%;
        text-align: center;
        font-weight: bolder;
        font-size: 82px;
    }

    & p {
        width: 80%;
        margin-top: -20px;
        text-align: center;
        font-weight: 200;
        font-size: 46px;
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 120px;
        color: #fff;
        background: linear-gradient(#ec73da,#d26adb, #{$primary-color});
        border-radius: 60px;
        @include light-shadow;
                
        & p {
            margin-top: 30px;
            font-size: 35px;
            font-weight: bold;
        }

        &:hover {
            @include shadow;
        }
    }
}

.fonctionnement {
    @include column;

    & h2 {
        @include principal-title;
    }
}

.etape {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: row;
    @include all-center;
    background-color: #f6f6f6;
    border-radius: 50px;
    @include light-shadow;
    margin: 15px 0% 15px 10%;
    &:hover {
    background-color: lighten($color: $primary-color, $amount: 35);
    @include shadow;
        & i {
            color: $primary-color;
        }
    }

    &_number {
        display: flex;
        @include all-center;
        position: absolute;
        margin-right: 80%;
        color: #fff;
        height: 65px;
        width: 65px;
        font-size: 45px;
        background-color: $primary-color;
        border-radius: 50px;
    }

    & i {
        position: absolute;
        margin-right: 55%;
        color: grey;
        font-size: 80px;
    }

    &_txt {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
}

main {
    @include column;
    background-color: $light-grey;
    padding: 5% 0 5% 0;
    margin-top: 50px;

    & h2 {
        position: relative;
        @include principal-title;
        margin-top: 50px;
    }

    & article {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        width: 90%;
        overflow: hidden;
        background-color: white;
        margin: 5% 0 5% 5%;
        border-radius: 50px;
        @include light-shadow;
        &:hover{
            @include shadow;
        }

        & a {
            @include full-size
           }

        & .New {
            position: absolute;
            font-weight: bolder;
            color: darken($color: $third-color, $amount: 40);
            background-color: $third-color;
            padding: 1%;
            font-size: 35px;
            margin-top: 30px;
            margin-left: 70%;
        }

        & .New-hide {
            display: none;
        }

        & .img-container {
            height: 75%;
            width: 100%;
            & img {
                @include full-size
            }
        }

                & .card-infos {
                    font-size: 40px;
                    margin: -25px 0 0 3%;
                    
                    & .city {
                        margin-top: -28px;
                    }
                    

                    & .heart-empty {
                        position: absolute;
                        display: block;
                        font-size: 70px;
                        margin: -150px 0 0 73%;
                        padding: 1%;
                        opacity: 1;

                    }
                    & .heart-full {
                        position: absolute;
                        color: $primary-color;
                        display: block;
                        font-size: 73px;
                        margin: -152px 0 0 72.9%;
                        padding: 1%;
                        @include gradient-heart;
                        z-index: 1;
                        opacity: 0;
                        &:hover {
                            transition-duration: 0.2s;
                            opacity: 1
                        }
                    }
                }
            }

        }

        footer {
            @include column;
            width: 100%;
            background-color: #353535;
            font-size: 40px;
            & h2 {
                font-family: 'Shrikhand';
                color: white;
                font-size: 60px;
                margin : 25px 0 0 4%;
            }

            & ul {
                margin-top: 15px;
            }

            & li {
                padding: 0% 0 0% 0;
            }

            & a {
                color: white;
                padding: 2% 0 2% 0;
            }
        }

/* 820px */

@media screen and (max-width: #{$tablette-mid}) {

    nav {
        & .mobil-input {
            & img {
                height: 100px;
                width: 55%;
                margin-left: 15%;
                padding: 5%;
            }

            & i {
                margin: 22px 0% 0% -29%;
            }
        }
    }
    
    .explore {
        & h1 {
            font-size: 55px;
        }

        & p {
            font-size: 38px;
        }

        & a {
            & p {
                font-size: 30px;
            }
        }
    }

    .etape {

        &_number {
            height: 65px;
            width: 65px;
            font-size: 50px;
        }

        & i {
            margin-right: 55%;
            font-size: 85px;
        }
        
        &_txt {
            margin-left: -2%;
            font-size: 45px;
        }
    }

    main { 
        & article {
            height: 650px;

            & .New {
                margin-left: 65%;
            }

            & .card-infos {
                & .city {
                    margin-top: -37px;
                }
            }
        }
    }
}

/* 768px */

@media screen and (max-width: #{$tablette-small}) {

    nav {
        & .mobil-input {
            & i {
                margin: 22px 0% 0px -31%;
            }
        }

    }
    
    .explore {
        & h1 {
            font-size: 55px;
        }

        & p {
            font-size: 36px;
        }

        & a {
            & p {
                font-size: 27px;
            }
        }
    }

    .etape {
        & i {
            margin-right: 57%;
            font-size: 80px;
        }
        
        &_txt {
            margin-left: -1%;
            font-size: 45px;
        }
    }
    
    main { 
        & article {
            height: 600px;
            
            & .card-infos{
                & .city {
                    margin-top: -42px;
                }
                
                & .heart-full {
                    margin: -152px 0 0 72.9%;
                }
            }
        }
    }
}

/* 425px  */

@media screen and (max-width : #{$mobil-high}) {

    .loading {    
        & .loading-title {
            & p {
            font-size: 80px;
            }
        }
    }

    nav {

        & img {
            height: 65px;
            width: 65%;
            margin-left: 15%;
            margin-top: 0;
        }

        & .mobil-input {

            & i {
                font-size: 28px;
                margin: 10px 0% 0% -30%;
            }

            & input {
                height: 50px;
                font-size: 25px;
            }
        }
    }    

    .explore {
        & h1 {
            margin-top: -20px;
            width: 80%;
            font-size: 30px;
        }

        & p {
            margin-top: 0px;
            width: 80%;
            font-size: 19px;
        }

        & a {
            width: 65%;
            height: 70px;
            & p {
                margin-top: 18px;
                font-size: 19px;
            }
        }
    }

    .fonctionnement {
        & h2 {
            font-size: 25px;
        }
    }

    .etape {
        height: 100px;
        width: 80%;
        border-radius: 40px;

        &_number {
            margin-right: 80%;
            height: 40px;
            width: 40px;
            font-size: 25px;
        }

        & i {
            margin-right: 54%;
            font-size: 47px;
        }

        &_txt {
            font-size: 23px;
            margin-left: 0;
        }
    }

    main {
        padding: 5% 0 5% 0;
        margin-top: 50px;

        & h2 {
            font-size: 25px;
        }

        & article {
            height: 300px;
            width: 90%;
            margin: 5% 0 5% 5%;
            border-radius: 30px;

            & a {
                @include full-size
            }

            & .New {
                font-size: 20px;
                margin-top: 20px;
                margin-left: 65%;
            }

            & .img-container {
                height: 70%;
            }

            & .card-infos {
                font-size: 25px;
                margin: -20px 0 0 3%;
            
                & .city {
                    margin-top: -25px;
                }    

                & .heart-empty {
                    font-size: 44px;
                    margin: -88px 0 0 70%;
                }
                
                & .heart-full {
                    font-size: 47px;
                    margin: -90px 0 0 69.5%;
                }
            
            }        
        }
    }

    footer {
        width: 100%;
        font-size: 28px;
        
        & h2 {
            font-size: 30px;
            margin : 20px 0 0 5%;
        }

        & ul {
            margin-top: 10px;
            margin-left: -4%;
        }
    }
}

/* 375px */

@media screen and (max-width : #{$mobil-mid}) {

    .loading {    
        & .loading-title {
            & p {
            font-size: 70px;
            }
        }
    }

    nav {
        & img {
            height: 50px;
            width: 60%;
            margin-left: 15%;
        }

        & .mobil-input{
            & i {
                margin: 10px 0% 0% -32%;
            }
        }
    }

    .explore {
        & h1 {
            font-size: 30px;
        }

        & p {
            margin-top: -5px;
            font-size: 17px;
        }

        & a {
            & p {
                margin-top: 17px;
                font-size: 17px;
            }
        }
    }

    .etape {
        height: 90px;
        border-radius: 30px;

        &_number {
            margin-right: 80%;
            height: 40px;
            width: 40px;
            font-size: 25px;
        }

        & i {
            font-size: 50px;
            margin-left: 2%;
        }

        &_txt {
            font-size: 19px;
        }
    }
}

/* 320px*/ 

@media screen and (max-width : #{$mobil-small}) {
    
    .loading {    
        & .loading-title {
            & p {
            font-size: 60px;
            }
        }
    }

    nav {
        & .mobil-input {
            & i {
                margin: 10px 0% 0% -38%;
            }
        }
    }
    
    .explore {
        & h1 {
            font-size: 26px;
        }

        & p {
            margin-top: -5px;
            font-size: 15px;
        }

        & a {
            & p {
                margin-top: 14px;
                font-size: 14px;
            }
        }
    }

    .etape {
        height: 80px;
        border-radius: 25px;

        &_number {
            margin-right: 80%;
            height: 30px;
            width: 30px;
            font-size: 20px;
        }

        & i {
            margin-right: 53%;
            font-size: 45px;
        }

        &_txt {
            font-size: 16px;
        }
    }

    main {
        padding: 5% 0 5% 0;
        margin-top: 50px;

        & h2 {
            font-size: 25px;
        }

        & article {
            height: 250px;
            width: 90%;
            margin: 5% 0 5% 5%;
            border-radius: 30px;

            & a {
                @include full-size
            }

            & .New {
                margin-left: 58%;
            }

            & .img-container {
                height: 70%;
            }

            & .card-infos {
                font-size: 20px;
                margin: -20px 0 0 3%;
            
                & .city {
                    margin-top: -15px;
                }    

                & .heart-empty {
                    font-size: 40px;
                    margin: -70px 0 0 69%;
                }
                
                & .heart-full {
                    font-size: 43px;
                    margin: -71px 0 0 68%;
                }
            
            }        
        }
    }

    footer {
         width: 100%;
        font-size: 25px;
    }
}