@import "./library/function.scss";

@for $i from 1 through 4 {
    .card-#{$i} {
        animation: slide-up-menu 0.8s 0.2s*$i ease;
        animation-fill-mode: both;
        @include light-shadow;   
    }
}

$primary-color : #9356DC;
$secondary-color : #FF79DA;
$third-color : #99E2D0;

* {
    font-family: "Roboto" , sans-serif;
}

body {
    @include full-size;
    margin: 0%;
}

header {
    @include full-size;
}

main {
    @include full-size;
}

i {
    font-family: FontAwesome;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 992px */ 

@media screen and (max-width : #{$tablette-high}) {
        
    nav {
        padding: 30px 0px;
        display: flex;
        flex-direction: row;
        @include all-center;
        @include full-size;
        background-color: $light-grey;
        & i {
            font-size: 65px;
            margin-left: -250%;
            margin-top: 0;
        }
        & img {
            height: 100px;
            width: 50%;
            margin: 0;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        & img {
          height: 600px;
          width: 100%;
          margin-top: -15px;  
        }
        & section {
            width: 100%;
            background-color: $light-grey;
            margin-top: -105px;
            border-top-left-radius: 90px;
            border-top-right-radius: 90px;
            & .restaurant-name{
                margin-left: 5%;
                width: 100%;
                & h1 {
                    font-family: 'Shrikhand';
                    font-size: 70px;
                    margin-top: 20px;
                }
                & .heart-empty {
                    position: absolute;
                    font-size: 70px;
                    margin: -150px 0 0 80%;
                    padding: 1%;
                }
                & .heart-full {
                    position: absolute;
                    font-size: 75px;
                    margin: -151px 0 0 79.9%;
                    padding: 1%;
                    @include gradient-heart;
                    opacity : 0;
                    &:hover{
                        opacity: 1;
                        transition-duration: 0.3s;
                    }
                }
            }

            & .menu {
                @include column;
                margin-left: 5%;
                & .step {
                    font-size: 50px;
                    font-weight: 100;
                    text-transform: uppercase;
                }

                & .border{
                    height: 10px;
                    width: 15%;
                    background-color: $third-color;
                    margin: -50px 0% 25px 0%;
                }
                
                & article {
                    display: flex;
                    flex-direction: column;
                    & .dish-card {
                        display: flex;
                        flex-direction: row;
                        background-color: white;
                        overflow: hidden;
                        height: 150px;
                        width: 95%;
                        border-radius: 40px;
                        margin: 50px 0%;
                        &:hover {
                            @include shadow;
                        }
                        &:hover .moove{
                            animation: moove 0.5s ease forwards;
                            & i { 
                                    transform: rotate(360deg);
                                    transition-duration: 0.5s;
                                }
                            }
                    }
                    
                    & .dish-infos {
                        @include column;
                        @include full-size;
                        position: relative;
                        & .dish-name {
                            font-size: 43px;
                            margin: 15px 0 0 3%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        & .dish-ingredient {
                            font-size: 36px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin: 7px 0 0 3%;
                        }
                    }    

                    & .moove {
                        width: 30%;
                        display: flex;
                        flex-direction: row;
                        margin-right: -16%;
                    & .dish-price {
                        position: relative;
                        font-size: 35px;
                        width: 50%;
                        height: 155px;
                        font-weight: bold;
                        margin: 0 0 0 0%;
                        & p {
                            margin: 75px 0 0 0%;
                        }
                    }
                    
                    & .check{
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        @include all-center;
                        height: 155px;
                        width: 155px;
                        background-color: $third-color;
                            & i {
                                display: flex;
                                @include all-center;
                                height: 60px;
                                width: 60px;
                                border-radius: 35px;
                                font-size: 40px;
                                background-color: white;
                                color: $third-color;
                            }                        
                        }

                    }
                }
                
                & .order-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 120px;
                    color: #fff;
                    background: linear-gradient(#{$secondary-color},#d26adb, #{$primary-color});
                    font-size: 40px;
                    border-radius: 60px;
                    @include light-shadow;
                    margin : 35px 0% 60px 22%;
                    & p {
                        text-align: center;
                        font-weight: 900;
                    }
                    &:hover {
                        @include shadow;
                        background: linear-gradient(hsl(309, 76%, 72%),hsl(295, 61%, 67%), hsl(267, 66%, 68%))
                    }
                }
            }
            
        }


    }

    footer {
        @include column;
        width: 100%;
        background-color: #353535;
        font-size: 40px;
        & h2 {
            font-family: 'Shrikhand';
            color: white;
            font-size: 60px;
            margin : 25px 0 0 4%;
        }

        & ul {
            margin-top: 15px;
        }

        & a {
            color: white;
            padding: 2% 0 2% 0;
        }
    }
}

/* 820px */ 

@media screen and (max-width : #{$tablette-mid}) {
    
    nav {
        & i {
            font-size: 65px;
            margin-left: -180%;
            margin-top: 0;
        }
    }

    main {
        & section {
            & .restaurant-name{
                & h1 {
                    font-size: 60px;
                }
                & .heart-empty {
                    font-size: 60px;
                    margin: -136px 0 0 80%;
                }
                & .heart-full {
                    font-size: 65px;
                    margin: -137px 0 0 79.9%;
                }
            }   
        
            & .menu {
                & article {
                    
                    & .dish-infos {
                        & .dish-name {
                            font-size: 35px;
                            margin-top: 20px;
                        }

                        & .dish-ingredient {
                            font-size: 28px;
                            margin-top: 15px;
                        }
                    }    

                    & .moove {
                        margin-right: -18%;
                    }
                }
            }    
        }
    }
}

/* 768px */ 

@media screen and (max-width : #{$tablette-small} ) {

    main {
        & section {
            & .restaurant-name{
                & h1 {
                    font-size: 55px;
                }
                & .heart-empty {
                    font-size: 55px;
                    margin: -124px 0 0 78%;
                }
                & .heart-full {
                    font-size: 60px;
                    margin: -126px 0 0 77.9%;
                }
            }   
        
            & .menu {
                & article {
                    
                    & .dish-infos {
                        & .dish-name {
                            font-size: 32px;
                            margin-top: 20px;
                        }

                        & .dish-ingredient {
                            font-size: 26px;
                            margin-top: 15px;
                        }
                    }    

                    & .moove {
                        margin-right: -18%;
                        & .dish-price {
                            font-size: 30px;
                        }
                    }                   
                }
            }    
        }
    }
}

/* 425px */ 

@media screen and (max-width : #{$mobil-high}) {
    
    nav {
        & i {
            font-size: 40px;
            margin-left: -55%;
        }
        & img {
            height: 65px;
            width: 65%;
        }
    }

    main {
        & img {
          height: 400px;  
        }
        & section {
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            & .restaurant-name{
                margin-left: 5%;
                width: 100%;
                & h1 {
                    font-size: 30px;
                }
                & .heart-empty {
                    font-size: 30px;
                    margin: -66px 0 0 78.4%;
                }
                & .heart-full {
                    font-size: 33px;
                    margin: -68px 0 0 77.9%;
                }
            }

            & .menu {
                & .step {
                    font-size: 30px;
                }

                & .border{
                    height: 5px;
                    width: 18%;
                    margin: -32px 0% 25px 0%;
                }
                
                & article {
                    & .dish-card {
                        height: 100px;
                        width: 95%;
                        border-radius: 30px;
                        margin: 30px 0%;
                    }
                    
                    & .dish-infos {
                        & .dish-name {
                            font-size: 17px;
                            margin: 20px 0 0 3%;
                        }

                        & .dish-ingredient {
                            font-size: 15px;
                            margin: 15px 0 0 3%;
                        }
                    }    

                    & .moove {
                        margin-right: -21%;
                    & .dish-price {
                        font-size: 20px;
                        height: 105px;
                        margin: 0 0 0 0%;
                        & p {
                            margin: 53px 0 0 -19%;
                        }
                    }
                    
                    & .check{
                        height: 105px;
                        width: 105px;
                            & i {
                                height: 40px;
                                width: 40px;
                                border-radius: 35px;
                                font-size: 30px;
                            }                        
                        }

                    }
                }
                
                & .order-input {
                    width: 60%;
                    height: 70px;
                    font-size: 30px;
                    margin : 35px 0% 60px 20%;
                }
            }            
        }
    }

    footer {
        font-size: 25px;
        & h2 {
            font-size: 30px;
        }
    }
    
}

/* 375px */

@media screen and (max-width : #{$mobil-mid}) {
    
    nav {
        & i {
            font-size: 40px;
            margin-left: -55%;
        }
        & img {
            height: 55px;
            width: 65%;
        }
    }

    main {
        & img {
          height: 350px;  
        }
        & section {
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            & .restaurant-name{
                & h1 {
                    font-size: 25px;
                }
                & .heart-empty {
                    font-size: 25px;
                    margin: -57px 0 0 76.4%;
                }
                & .heart-full {
                    font-size: 28px;
                    margin: -59px 0 0 75.9%;
                }
            }

            & .menu {
                & .step {
                    font-size: 25px;
                }

                & .border{
                    margin: -25px 0% 25px 0%;
                }
                
                & article {
                    & .dish-card {
                        height: 90px;
                    }
                    
                    & .dish-infos {
                        & .dish-name {
                            font-size: 15px;
                            margin: 20px 0 0 3%;
                        }

                        & .dish-ingredient {
                            font-size: 13px;
                            margin: 15px 0 0 3%;
                        }
                    }    

                    & .moove {
                        margin-right: -20%;
                    & .dish-price {
                        font-size: 18px;
                        height: 95px;
                        margin: 0 0 0 0%;
                        & p {
                            margin: 53px 0 0 -15%;
                        }
                    }
                    
                    & .check{
                        height: 95px;
                        width: 95px;
                            & i {
                                height: 40px;
                                width: 40px;
                                border-radius: 35px;
                                font-size: 30px;
                            }                        
                        }

                    }
                }
                
                & .order-input {
                    width: 60%;
                    height: 60px;
                    font-size: 25px;
                    margin : 35px 0% 60px 20%;
                }
            }            
        }
    }

    footer {
        font-size: 25px;
        & h2 {
            font-size: 30px;
        }
        & ul {
            margin-left: -5%;
        }
    }
}

/* 320px */

@media screen and (max-width : #{$mobil-small}) {
    
    nav {
        & i {
            font-size: 25px;
            margin-left: -90%;
        }
        & img {
            height: 40px;
            width: 65%;
        }
    }

    main {
        & img {
          height: 300px;  
        }
        & section {
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            & .restaurant-name{
                & h1 {
                    font-size: 20px;
                }
                & .heart-empty {
                    font-size: 25px;
                    margin: -48px 0 0 74.4%;
                }
                & .heart-full {
                    font-size: 28px;
                    margin: -49px 0 0 73.9%;
                }
            }

            & .menu {
                & .step {
                    font-size: 20px;
                }

                & .border{
                    margin: -20px 0% 20px 0%;
                }
                
                & article {
                    & .dish-card {
                        height: 80px;
                        border-radius: 20px;
                    }
                    
                    & .dish-infos {
                        & .dish-name {
                            font-size: 13px;
                            margin: 20px 0 0 3%;
                        }

                        & .dish-ingredient {
                            font-size: 10px;
                            margin: 15px 0 0 3%;
                        }
                    }    

                    & .moove {
                        margin-right: -20%;
                    & .dish-price {
                        font-size: 18px;
                        height: 85px;
                        margin: 0 0 0 0%;
                        & p {
                            margin: 47px 0 0 -30%;
                        }
                    }
                    
                    & .check{
                        height: 85px;
                        width: 85px;
                            & i {
                                height: 35px;
                                width: 35px;
                                border-radius: 35px;
                                font-size: 25px;
                            }                        
                        }

                    }
                }
                
                & .order-input {
                    width: 60%;
                    height: 55px;
                    font-size: 20px;
                    margin : 35px 0% 60px 20%;
                }
            }            
        }
    }

    footer {
        font-size: 20px;
        & h2 {
            font-size: 25px;
        }
        & ul {
            margin-left: -5%;
        }
    }

}