@-webkit-keyframes moove {
  from {
    margin-right: -15%;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes moove {
  from {
    margin-right: -15%;
  }
  to {
    margin-right: 0%;
  }
}

@-webkit-keyframes moove-out {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -16%;
  }
}

@keyframes moove-out {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -16%;
  }
}

@-webkit-keyframes moove-out1440 {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -18%;
  }
}

@keyframes moove-out1440 {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -18%;
  }
}

@-webkit-keyframes moove-out820 {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -20%;
  }
}

@keyframes moove-out820 {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: -20%;
  }
}

@-webkit-keyframes slide-up-menu {
  from {
    opacity: 0;
    margin-top: 15px;
  }
  to {
    opacity: 1;
    display: none;
    margin-top: 0px;
  }
}

@keyframes slide-up-menu {
  from {
    opacity: 0;
    margin-top: 15px;
  }
  to {
    opacity: 1;
    display: none;
    margin-top: 0px;
  }
}

.card-1 {
  -webkit-animation: slide-up-menu 0.8s 0.2s ease;
          animation: slide-up-menu 0.8s 0.2s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-shadow: 7px 7px 7px lightgray;
          box-shadow: 7px 7px 7px lightgray;
}

.card-2 {
  -webkit-animation: slide-up-menu 0.8s 0.4s ease;
          animation: slide-up-menu 0.8s 0.4s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-shadow: 7px 7px 7px lightgray;
          box-shadow: 7px 7px 7px lightgray;
}

.card-3 {
  -webkit-animation: slide-up-menu 0.8s 0.6s ease;
          animation: slide-up-menu 0.8s 0.6s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-shadow: 7px 7px 7px lightgray;
          box-shadow: 7px 7px 7px lightgray;
}

.card-4 {
  -webkit-animation: slide-up-menu 0.8s 0.8s ease;
          animation: slide-up-menu 0.8s 0.8s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-shadow: 7px 7px 7px lightgray;
          box-shadow: 7px 7px 7px lightgray;
}

* {
  font-family: "Roboto" , sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
}

header {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

i {
  font-family: FontAwesome;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 992px */
@media screen and (max-width: 992px) {
  nav {
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
  }
  nav i {
    font-size: 65px;
    margin-left: -250%;
    margin-top: 0;
  }
  nav img {
    height: 100px;
    width: 50%;
    margin: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  main img {
    height: 600px;
    width: 100%;
    margin-top: -15px;
  }
  main section {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: -105px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
  }
  main section .restaurant-name {
    margin-left: 5%;
    width: 100%;
  }
  main section .restaurant-name h1 {
    font-family: 'Shrikhand';
    font-size: 70px;
    margin-top: 20px;
  }
  main section .restaurant-name .heart-empty {
    position: absolute;
    font-size: 70px;
    margin: -150px 0 0 80%;
    padding: 1%;
  }
  main section .restaurant-name .heart-full {
    position: absolute;
    font-size: 75px;
    margin: -151px 0 0 79.9%;
    padding: 1%;
    background: -webkit-linear-gradient(#9356DC, #d26adb, #ec73da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
  main section .restaurant-name .heart-full:hover {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  main section .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5%;
  }
  main section .menu .step {
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
  }
  main section .menu .border {
    height: 10px;
    width: 15%;
    background-color: #99E2D0;
    margin: -50px 0% 25px 0%;
  }
  main section .menu article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .menu article .dish-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
    overflow: hidden;
    height: 150px;
    width: 95%;
    border-radius: 40px;
    margin: 50px 0%;
  }
  main section .menu article .dish-card:hover {
    -webkit-box-shadow: 7px 7px 7px #a4a4a4;
            box-shadow: 7px 7px 7px #a4a4a4;
  }
  main section .menu article .dish-card:hover .moove {
    -webkit-animation: moove 0.5s ease forwards;
            animation: moove 0.5s ease forwards;
  }
  main section .menu article .dish-card:hover .moove i {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  main section .menu article .dish-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  }
  main section .menu article .dish-infos .dish-name {
    font-size: 43px;
    margin: 15px 0 0 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  main section .menu article .dish-infos .dish-ingredient {
    font-size: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 7px 0 0 3%;
  }
  main section .menu article .moove {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: -16%;
    -webkit-animation: moove-out 0.5s ease forwards;
            animation: moove-out 0.5s ease forwards;
  }
  main section .menu article .moove .dish-price {
    position: relative;
    font-size: 35px;
    width: 50%;
    height: 155px;
    font-weight: bold;
    margin: 0 0 0 0%;
  }
  main section .menu article .moove .dish-price p {
    margin: 75px 0 0 0%;
  }
  main section .menu article .moove .check {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 155px;
    width: 155px;
    background-color: #99E2D0;
  }
  main section .menu article .moove .check i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 35px;
    font-size: 40px;
    background-color: white;
    color: #99E2D0;
  }
  main section .menu .order-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 120px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(#d26adb), to(#9356DC));
    background: linear-gradient(#FF79DA, #d26adb, #9356DC);
    font-size: 40px;
    border-radius: 60px;
    -webkit-box-shadow: 7px 7px 7px lightgray;
            box-shadow: 7px 7px 7px lightgray;
    margin: 35px 0% 60px 22%;
  }
  main section .menu .order-input p {
    text-align: center;
    font-weight: 900;
  }
  main section .menu .order-input:hover {
    -webkit-box-shadow: 7px 7px 7px #a4a4a4;
            box-shadow: 7px 7px 7px #a4a4a4;
    background: -webkit-gradient(linear, left top, left bottom, from(#ee81de), color-stop(#d678de), to(#a878e3));
    background: linear-gradient(#ee81de, #d678de, #a878e3);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #353535;
    font-size: 40px;
  }
  footer h2 {
    font-family: 'Shrikhand';
    color: white;
    font-size: 60px;
    margin: 25px 0 0 4%;
  }
  footer ul {
    margin-top: 15px;
  }
  footer a {
    color: white;
    padding: 2% 0 2% 0;
  }
}

/* 820px */
@media screen and (max-width: 820px) {
  nav i {
    font-size: 65px;
    margin-left: -180%;
    margin-top: 0;
  }
  main section .restaurant-name h1 {
    font-size: 60px;
  }
  main section .restaurant-name .heart-empty {
    font-size: 60px;
    margin: -136px 0 0 80%;
  }
  main section .restaurant-name .heart-full {
    font-size: 65px;
    margin: -137px 0 0 79.9%;
  }
  main section .menu article .dish-infos .dish-name {
    font-size: 35px;
    margin-top: 20px;
  }
  main section .menu article .dish-infos .dish-ingredient {
    font-size: 28px;
    margin-top: 15px;
  }
  main section .menu article .moove {
    margin-right: -18%;
    -webkit-animation: moove-out820 0.8s ease forwards;
            animation: moove-out820 0.8s ease forwards;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  main section .restaurant-name h1 {
    font-size: 55px;
  }
  main section .restaurant-name .heart-empty {
    font-size: 55px;
    margin: -124px 0 0 78%;
  }
  main section .restaurant-name .heart-full {
    font-size: 60px;
    margin: -126px 0 0 77.9%;
  }
  main section .menu article .dish-infos .dish-name {
    font-size: 32px;
    margin-top: 20px;
  }
  main section .menu article .dish-infos .dish-ingredient {
    font-size: 26px;
    margin-top: 15px;
  }
  main section .menu article .moove {
    margin-right: -18%;
  }
  main section .menu article .moove .dish-price {
    font-size: 30px;
  }
}

/* 425px */
@media screen and (max-width: 425px) {
  nav i {
    font-size: 40px;
    margin-left: -55%;
  }
  nav img {
    height: 65px;
    width: 65%;
  }
  main img {
    height: 400px;
  }
  main section {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  main section .restaurant-name {
    margin-left: 5%;
    width: 100%;
  }
  main section .restaurant-name h1 {
    font-size: 30px;
  }
  main section .restaurant-name .heart-empty {
    font-size: 30px;
    margin: -66px 0 0 78.4%;
  }
  main section .restaurant-name .heart-full {
    font-size: 33px;
    margin: -68px 0 0 77.9%;
  }
  main section .menu .step {
    font-size: 30px;
  }
  main section .menu .border {
    height: 5px;
    width: 18%;
    margin: -32px 0% 25px 0%;
  }
  main section .menu article .dish-card {
    height: 100px;
    width: 95%;
    border-radius: 30px;
    margin: 30px 0%;
  }
  main section .menu article .dish-infos .dish-name {
    font-size: 17px;
    margin: 20px 0 0 3%;
  }
  main section .menu article .dish-infos .dish-ingredient {
    font-size: 15px;
    margin: 15px 0 0 3%;
  }
  main section .menu article .moove {
    margin-right: -21%;
  }
  main section .menu article .moove .dish-price {
    font-size: 20px;
    height: 105px;
    margin: 0 0 0 0%;
  }
  main section .menu article .moove .dish-price p {
    margin: 53px 0 0 -19%;
  }
  main section .menu article .moove .check {
    height: 105px;
    width: 105px;
  }
  main section .menu article .moove .check i {
    height: 40px;
    width: 40px;
    border-radius: 35px;
    font-size: 30px;
  }
  main section .menu .order-input {
    width: 60%;
    height: 70px;
    font-size: 30px;
    margin: 35px 0% 60px 20%;
  }
  footer {
    font-size: 25px;
  }
  footer h2 {
    font-size: 30px;
  }
}

/* 375px */
@media screen and (max-width: 375px) {
  nav i {
    font-size: 40px;
    margin-left: -55%;
  }
  nav img {
    height: 55px;
    width: 65%;
  }
  main img {
    height: 350px;
  }
  main section {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  main section .restaurant-name h1 {
    font-size: 25px;
  }
  main section .restaurant-name .heart-empty {
    font-size: 25px;
    margin: -57px 0 0 76.4%;
  }
  main section .restaurant-name .heart-full {
    font-size: 28px;
    margin: -59px 0 0 75.9%;
  }
  main section .menu .step {
    font-size: 25px;
  }
  main section .menu .border {
    margin: -25px 0% 25px 0%;
  }
  main section .menu article .dish-card {
    height: 90px;
  }
  main section .menu article .dish-infos .dish-name {
    font-size: 15px;
    margin: 20px 0 0 3%;
  }
  main section .menu article .dish-infos .dish-ingredient {
    font-size: 13px;
    margin: 15px 0 0 3%;
  }
  main section .menu article .moove {
    margin-right: -20%;
  }
  main section .menu article .moove .dish-price {
    font-size: 18px;
    height: 95px;
    margin: 0 0 0 0%;
  }
  main section .menu article .moove .dish-price p {
    margin: 53px 0 0 -15%;
  }
  main section .menu article .moove .check {
    height: 95px;
    width: 95px;
  }
  main section .menu article .moove .check i {
    height: 40px;
    width: 40px;
    border-radius: 35px;
    font-size: 30px;
  }
  main section .menu .order-input {
    width: 60%;
    height: 60px;
    font-size: 25px;
    margin: 35px 0% 60px 20%;
  }
  footer {
    font-size: 25px;
  }
  footer h2 {
    font-size: 30px;
  }
  footer ul {
    margin-left: -5%;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  nav i {
    font-size: 25px;
    margin-left: -90%;
  }
  nav img {
    height: 40px;
    width: 65%;
  }
  main img {
    height: 300px;
  }
  main section {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  main section .restaurant-name h1 {
    font-size: 20px;
  }
  main section .restaurant-name .heart-empty {
    font-size: 25px;
    margin: -48px 0 0 74.4%;
  }
  main section .restaurant-name .heart-full {
    font-size: 28px;
    margin: -49px 0 0 73.9%;
  }
  main section .menu .step {
    font-size: 20px;
  }
  main section .menu .border {
    margin: -20px 0% 20px 0%;
  }
  main section .menu article .dish-card {
    height: 80px;
    border-radius: 20px;
  }
  main section .menu article .dish-infos .dish-name {
    font-size: 7px;
    margin: 20px 0 0 3%;
  }
  main section .menu article .dish-infos .dish-ingredient {
    font-size: 6px;
    margin: 15px 0 0 3%;
  }
  main section .menu article .moove {
    margin-left: 30%;
  }
  main section .menu article .moove .dish-price {
    font-size: 18px;
    height: 85px;
    margin: 0 0 0 0%;
  }
  main section .menu article .moove .dish-price p {
    margin: 47px 0 0 -30%;
  }
  main section .menu article .moove .check {
    height: 85px;
    width: 85px;
  }
  main section .menu article .moove .check i {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    font-size: 25px;
  }
  main section .menu .order-input {
    width: 60%;
    height: 55px;
    font-size: 20px;
    margin: 35px 0% 60px 20%;
  }
  footer {
    font-size: 20px;
  }
  footer h2 {
    font-size: 25px;
  }
  footer ul {
    margin-left: -5%;
  }
}
/*# sourceMappingURL=menu.css.map */