@import "./library/function.scss";

* {
    font-family: "Roboto" , sans-serif;
}

body {
    @include full-size;
    margin: 0%;
}

header {
    @include full-size;
}

main {
    @include full-size;
}

i {
    font-family: FontAwesome;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 992px */

@media screen and (max-width : 992px) {
        
    nav {
        @include full-size;
        display: flex;
        flex-direction: column;
        background-color: $light-grey;

        & img {
            height: 90px;
            width: 50%;
            margin-left: 20%;
            padding: 5%;
        }

        & i {
            position: absolute;
            font-size: 40px;
            margin: 30px 0% 0% 30%;
        }

        & input { 
            display: flex;
            @include all-center;
            width: 100%;
            height: 100px;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            color: black;
            background-color: lightgrey;
            border-color: lightgrey;
        }
    }    

    .explore {
        @include column;
        @include all-center;
        @include full-size;
        padding: 50px 0 50px 0;
        background-color: $light-grey;

        & h1 {
            width: 50%;
            text-align: center;
            font-weight: bolder;
            font-size: 53px;
        }

        & p {
            width: 80%;
            margin-top: -20px;
            text-align: center;
            font-weight: 200;
            font-size: 46px;
        }

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 120px;
            color: #fff;
            background: linear-gradient(#ec73da,#d26adb, #{$primary-color});
            border-radius: 60px;
            @include light-shadow
            & p {
                margin-top: 30px;
                font-size: 37px;
                font-weight: bold;
            }
            &:hover {
                @include shadow;
            }
        }
    }

    .fonctionnement {
        @include column;

        & h2 {
            @include principal-title;
        }
    }

    .etape {
        height: 150px;
        width: 80%;
        display: flex;
        flex-direction: row;
        @include all-center;
        background-color: #f6f6f6;
        border-radius: 50px;
        @include light-shadow;
        margin: 15px 0% 15px 10%;
        &:hover {
            background-color: lighten($color: $primary-color, $amount: 35);
            @include shadow;
            & i {
                color: $primary-color;
            }
        }

        &_number {
            display: flex;
            @include all-center;
            position: absolute;
            margin-right: 80%;
            color: #fff;
            height: 50px;
            width: 50px;
            font-size: 30px;
            background-color: $primary-color;
            border-radius: 50px;
        }

        & i {
            position: absolute;
            margin-right: 60%;
            color: grey;
            font-size: 50px;
        }

        &_txt {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
        }
    }

    main {
        background-color: $light-grey;
        padding: 5% 0 5% 0;
        margin-top: 50px;

        & h2 {
            @include principal-title;
        }

        & article {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 700px;
            width: 90%;
            overflow: hidden;
            background-color: white;
            margin: 5% 0 5% 5%;
            border-radius: 50px;
            @include light-shadow;
            &:hover{
                @include shadow;
            }

            & a {
                @include full-size
            }

            & .New {
                position: absolute;
                font-weight: bolder;
                color: darken($color: $third-color, $amount: 40);
                background-color: $third-color;
                padding: 1%;
                font-size: 35px;
                margin-top: 30px;
                margin-left: 70%;
            }

            & .New-hide {
                display: none;
            }

            & .img-container {
                height: 75%;
                width: 100%;
                & img {
                    @include full-size
                }
            }

            & .card-infos {
                font-size: 40px;
                margin: -25px 0 0 3%;
                
                & .city {
                    margin-top: -28px;
                }
                

                & .heart_empty {
                    position: absolute;
                    display: block;
                    font-size: 70px;
                    margin: -150px 0 0 73%;
                    padding: 1%;
                    opacity: 1;

                }
                & .heart_full {
                    position: absolute;
                    color: $primary-color;
                    display: block;
                    font-size: 73px;
                    margin: -151px 0 0 73%;
                    padding: 1%;
                    @include gradient-heart;
                    z-index: 1;
                    opacity: 0;
                    &:hover {
                        transition-duration: 0.2s;
                        opacity: 1
                    }
                }
            }
        }

    }

    footer {
        @include column;
        width: 100%;
        background-color: #353535;
        font-size: 40px;
        & h2 {
            font-family: 'Shrikhand';
            color: white;
            font-size: 60px;
            margin : 25px 0 0 4%;
        }

        & ul {
            margin-top: 15px;
        }

        & a {
            color: white;
            padding: 2% 0 2% 0;
        }
    }
}

/* 820px */

@media screen and (max-width: 820px) {
    .explore {
        & h1 {
            font-size: 50px;
        }

        & p {
            font-size: 38px;
        }

        & a {
            & p {
                font-size: 30px;
            }
        }
    }

    .etape {
        &_txt {
            margin-left: 8%;
        }
    }

    main { 
        & article {
            height: 650px;
            & .card-infos {
                & .city {
                    margin-top: -37px;
                }
            }
        }
    }
}

/* 768px */

@media screen and (max-width : 768px) {
    .explore {
        & h1 {
            font-size: 41px;
        }

        & p {
            font-size: 36px;
        }

        & a {
            & p {
                font-size: 28px;
            }
        }
    }
    
    main { 
        & article {
            height: 600px;
            & .city {
                margin-top: -42px;
            }
        }
    }
}

/* 425px  */

@media screen and (max-width : 425px) {
    nav {
        & img {
            height: 50px;
            width: 50%;
            margin-left: 20%;
        }

        & i {
            font-size: 40px;
            margin: 30px 0% 0% 15%;
        }

        & input {
            height: 65px;
            font-size: 30px;
        }
    }    

    .explore {
        & h1 {
            font-size: 21px;
            margin-top: -25px;
        }

        & p {
            width: 100%;
            margin-top: 0px;
            font-size: 19px;
        }

        & a {
            width: 60%;
            height: 70px;
            & p {
                margin-top: 18px;
                font-size: 20px;
            }
        }
    }

    .fonctionnement {
        @include column;

        & h2 {
            @include principal-title;
        }
    }

    .etape {
        height: 150px;
        width: 80%;
        display: flex;
        flex-direction: row;
        @include all-center;
        background-color: #f6f6f6;
        border-radius: 50px;
        @include light-shadow;
        margin: 15px 0% 15px 10%;
        &:hover {
            background-color: lighten($color: $primary-color, $amount: 35);
            @include shadow;
            & i {
                color: $primary-color;
            }
        }

        &_number {
            display: flex;
            @include all-center;
            position: absolute;
            margin-right: 80%;
            color: #fff;
            height: 50px;
            width: 50px;
            font-size: 30px;
            background-color: $primary-color;
            border-radius: 50px;
        }

        & i {
            position: absolute;
            margin-right: 60%;
            color: grey;
            font-size: 50px;
        }

        &_txt {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
        }
    }

    main {
        background-color: $light-grey;
        padding: 5% 0 5% 0;
        margin-top: 50px;

        & h2 {
            @include principal-title;
        }

        & article {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 700px;
            width: 90%;
            overflow: hidden;
            background-color: white;
            margin: 5% 0 5% 5%;
            border-radius: 50px;
            @include light-shadow;
            &:hover{
                @include shadow;
            }

            & a {
                @include full-size
            }

            & .New {
                position: absolute;
                font-weight: bolder;
                color: darken($color: $third-color, $amount: 40);
                background-color: $third-color;
                padding: 1%;
                font-size: 35px;
                margin-top: 30px;
                margin-left: 70%;
            }

            & .New-hide {
                display: none;
            }

            & .img-container {
                height: 75%;
                width: 100%;
                & img {
                    @include full-size
                }
            }

            & .card-infos {
                font-size: 40px;
                margin: -25px 0 0 3%;
                
                & .city {
                    margin-top: -28px;
                }
                

                & .heart_empty {
                    position: absolute;
                    display: block;
                    font-size: 70px;
                    margin: -150px 0 0 73%;
                    padding: 1%;
                    opacity: 1;

                }
                & .heart_full {
                    position: absolute;
                    color: $primary-color;
                    display: block;
                    font-size: 73px;
                    margin: -151px 0 0 73%;
                    padding: 1%;
                    @include gradient-heart;
                    z-index: 1;
                    opacity: 0;
                    &:hover {
                        transition-duration: 0.2s;
                        opacity: 1
                    }
                }
            }
        }

    }

    footer {
        @include column;
        width: 100%;
        background-color: #353535;
        font-size: 40px;
        & h2 {
            font-family: 'Shrikhand';
            color: white;
            font-size: 60px;
            margin : 25px 0 0 4%;
        }

        & ul {
            margin-top: 15px;
        }

        & a {
            color: white;
            padding: 2% 0 2% 0;
        }
    }
}