@import "./library/function.scss";

/* 768px */

@media screen and (max-width : 768px) {
    .explore {
        & h1 {
            font-size: 41px;
        }

        & p {
            font-size: 36px;
        }

        & a {
            & p {
                font-size: 28px;
            }
        }
    }
    
    main { 
        & article {
            height: 600px;
            & .city {
                margin-top: -42px;
            }
        }
    }
}

/* 425px  */

@media screen and (max-width : 425px) {
    
    nav {

        & img {
            height: 50px;
            width: 50%;
            margin-left: 20%;
        }

        & i {
            font-size: 40px;
            margin: 30px 0% 0% 15%;
        }

        & input {
            height: 65px;
            font-size: 30px;
        }
    }    

}