$primary-color : #9356DC;
$secondary-color : #FF79DA;
$third-color : #99E2D0;
$light-grey : #f2f2f2;

$desktop-high : 1440px;
$desktop-mid : 1280px;
$desktop-small : 1024px;
$tablette-high : 992px;
$tablette-mid : 820px;
$tablette-small : 768px;
$mobil-high : 425px;
$mobil-mid : 375px;
$mobil-small : 320px;

@mixin full-size {
    height: 100%;
    width: 100%;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin all-center {
    justify-content: center;
    align-items: center
}

@mixin principal-title {
    margin-left: 5%;
    font-size: 50px;
    font-weight: bold;
}

@mixin light-shadow {
    box-shadow: 7px 7px 7px lightgray;
}

@mixin shadow {
    box-shadow: 7px 7px 7px rgb(164, 164, 164);
}

@mixin gradient-heart {
    background: -webkit-linear-gradient(#{$primary-color},#d26adb,#ec73da );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes moove {
    from {
        margin-right: -15%;
    }

    to {
        margin-right: 0%;
    }
}

@keyframes moove-out {
    from {
        margin-right: 0%;
    }

    to {
        margin-right: -30%;
    }
}

@keyframes slide-up-menu {
    from {
        opacity: 0;
        margin-top: 15px;
    }

    to {
        opacity: 1;
        display: none;
        margin-top: 0px;
    }
}