/* AJOUT DES DOSSIER + MISE EN PAGE*/

$primary-color : #9356DC;
$secondary-color : #FF79DA;
$third-color : #99E2D0;
$light-grey : #f2f2f2;

@mixin full-size {
    height: 100%;
    width: 100%;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin all-center {
    justify-content: center;
    align-items: center
}

@mixin principal-title {
    margin-left: 5%;
    font-size: 50px;
    font-weight: bold;
}